@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(9, 14, 14);
}



div {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    position: absolute;

}

div#time {
    display: flex;
    gap: 60px;
    color: #fff;

}

div span {
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.20em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: black;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

.circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

.ap {
    position: relative;
    font: 1em;
    transform: translateX(10px);
    top: -60px;
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    z-index: 10;
}

.dots:before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr)
}

.text_color {
    background-color: rgb(113, 43, 179);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.day_wrapper {
    display: inline-block;
    position: relative;
    bottom: 250px;
    justify-content: space-between;
    /* transform: translateX(30px); */
}

.day_wrapper span {
    font-size: 2rem;
    font-weight: 600;
    opacity: .3;
}

#showDate {
    position: relative;
    bottom: 200px;
    font-size: 2rem;
}

.controls {
    margin-top: 16px;
}


div#alarm {
    bottom: 100px;
}

.button {
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 4px 8px;
    top: 200px;
    cursor: pointer;
}

.set-alarm {
    background-color: turquoise;
}

.clear-alarm {
    background-color: red;
}