body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    height: 100vh;
    background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, #5f0979 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    width: 75%;
    text-align: center;
    margin: 0;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: white;
    color: #5f0979;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in-out 2s;
}

section h1.show-anim {
    visibility: visible;
    animation-name: fadein;
    /* animation-delay: 5s; */
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.10;
        transform: translate(50px, -45px);
    }

    60% {
        opacity: 0.10;
        transform: translate(-50px, 45px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}