body {
    margin: 0;
    padding: 10px 8px 20px 8px;
}

.title {
    margin: 0 0 40px 0;
}

.mq {
    height: 100px;
}

.mq-1 {
    background-color: red;
}

.mq-2 {
    background-color: blue;
}

.mq-3 {
    background-color: yellow;
}

.mq-4 {
    background-color: green;
}

/* The logical keywords "not" or "only" can be used optionally to include or exclude specific media types or screen sizes */
@media only screen and (min-width: 600px) {
    .mq {
        width: 100%;
    }
}


@media only screen and (min-width: 900px) {
    .mq {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 1200px) {
    .mq {
        width: 25%;
        float: left;
    }
}