* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;

}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: darkgrey;
    padding: 0.5rem;
}

#container {
    border: 1px solid red;
}

#sidebar {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 5rem;
}

#sidebar .clear {
    grid-column: 1 / -1;
}

#sidebar .clear button {
    border-radius: 25rem;
    height: 100%;
    width: 100%;
}

.color {
    background-color: aliceblue;
    border: 1px solid black;
}

#main {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
}

#main>* {
    border: 1px solid black;
    background-color: aliceblue;
}