html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid coral;
    padding: 8px 3px;
    align-items: stretch;
}

.item {
    padding: 5px 0;
}

.item-1 {
    background-color: lightskyblue;
}

.item-2 {
    background-color: lightgray;
    align-self: flex-end;
}

.item-3 {
    background-color: lightpink;
}